:root {
    --color-orange: #FF3800;
    --color-blue: #1F75FE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100vw;
    border-bottom: 1px solid rgb(198, 190, 190);
}

header .heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    margin: 0;
}

header .heading img {
    width: 10rem;
}

header .heading a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 8rem;
    padding: 0;
}

main .container {
    width: 32rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

main .container h2 {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 800;
}

main .container h4{
    margin-bottom: 3rem;
    font-weight: 400;
}

main .container input:focus::-webkit-input-placeholder {
    font-size: 0.75rem;
    position: relative;
    top: -15px;
    transition: 0.2s ease-out;
}

main .container input::-webkit-input-placeholder {
    transition: 0.2s ease-in;
}

main .container input[type="text"]:focus,
main .container input[type="password"]:focus {
    height: 50px;
    padding-bottom: 0px;
    transition: 0.2s ease-in;
}

main .container input[type="text"],
main .container input[type="password"] {
    height: 50px;
    transition: 0.2s ease-in;
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.checkbox-wrapper-40 {
    --borderColor: #48c;
    --borderWidth: .125em;
    margin: 2rem 0;
}

.checkbox-wrapper-40 label {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.checkbox-wrapper-40 input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    background: #fff;
    font-size: 1.8em;
    border-radius: 0.125em;
    display: inline-block;
    border: var(--borderWidth) solid var(--borderColor);
    width: 1em;
    height: 1em;
    position: relative;
}

.checkbox-wrapper-40 input[type=checkbox]:before,
.checkbox-wrapper-40 input[type=checkbox]:after {
    content: "";
    position: absolute;
    background: var(--borderColor);
    width: calc(var(--borderWidth) * 3);
    height: var(--borderWidth);
    top: 50%;
    left: 10%;
    transform-origin: left center;
}

.checkbox-wrapper-40 input[type=checkbox]:before {
    transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(0);
    transition: transform 200ms ease-in 200ms;
}

.checkbox-wrapper-40 input[type=checkbox]:after {
    width: calc(var(--borderWidth) * 5);
    transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
    transform-origin: left center;
    transition: transform 200ms ease-in;
}

.checkbox-wrapper-40 input[type=checkbox]:checked:before {
    transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(1);
    transition: transform 200ms ease-in;
}

.checkbox-wrapper-40 input[type=checkbox]:checked:after {
    width: calc(var(--borderWidth) * 5);
    transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
    transition: transform 200ms ease-out 200ms;
}

.checkbox-wrapper-40 input[type=checkbox]:focus {
    outline: calc(var(--borderWidth) / 2) dotted rgba(0, 0, 0, 0.25);
}

main .container .btn {
    display: flex;
    gap: 1rem;
    text-align: center;
    width: 50%;
}

main .container .btn button {
    padding: 0.8rem 2rem;
    width: 10rem;
    background: var(--color-orange);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

main .container .btn #submit-btn {
    margin-top: 1rem;
    font-weight: 600;
    color: white;
    background: var(--color-blue);
}

main .container .btn #cancel-btn {
    margin-top: 1rem;
    font-weight: 600;
    color: black;
    background: rgb(194, 193, 193);
}

footer {
    width: 100vw;
    background: rgb(246, 244, 244);
    margin-top: 1rem;
    padding: 2rem 8rem;
}

footer ul li {
    list-style-type: none;
    margin-bottom: 1rem;
    width: 100%;
}

footer ul li a {
    color: gray;
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    main .container {
        width: 90%;
    }
}